:root{--light-green: rgb(171, 196, 170);
--heading: rgb(191,203,168);
--main: rgb(91,138,114);
--sidebar: rgb(103, 93, 80);
--foot: rgb(86,119,108);
--light: white;
--dark: rgb(70,79,65);
--fontcolor: darkslategrey;
}

body{
  background-image: radial-gradient(circle,var(--dark), var(--main), var(--sidebar));
}
.heading {
  margin: 0;
  
  padding: 5px;
  
  text-align: center;
}

img{
  border-radius: 50%;
  padding-bottom: 20px;
  height: 200;
  width: auto;
}
.container{
  
  display: flex;
  margin: 0;
  padding: 3px;

}
.left-sidebar{
  
  
  width: 25%;
  padding: 5px;
  align-content: center;
}
.main{
  
  
  padding: 5px;
  width: 50%;
}
.right-sidebar{
  
  
  width: 25%;
  padding: 5px;
}
.footer{
  
  margin: 0;
  padding: 5px;
  text-align: center;

}
ul{
  list-style-type: none;
}
li{
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 20px;
}